body {
    background: linear-gradient(to bottom, hsl(200, 100%, 85%), hsl(200, 100%, 70%));
  }
  
h1 {
  max-width: 1200px;
  background-color:MidnightBlue;
  color: white;
  text-shadow: 5px 5px black;
  font-family: verdana;
  text-align: center;
  padding: 1%
  }

h2 {
  font-family: verdana;
  color:MidnightBlue;
}  

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}  

.caps {
  text-transform: uppercase;
}

.smallcaps {
  font-variant: small-caps;
}

.lijst {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style-type:square;
}

#rond_iframe {
  width: 1200px;
  height: 450px;
  padding: 5px;
  border: 5px inset gray;
  margin: 0;
}  

.link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #4169E1;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.floatright {
  float: right;
}

.clearfix {
  overflow: auto;
}

a:hover {
  background-color:MidnightBlue;
}

img {
  opacity: 1.0;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

img:hover {
  opacity: 0.5;
}  