body {
    background-color: greenyellow;
  }
  
  h1 {
    color: aqua;
    background-color: yellow;
    font-style: bold;
    margin-left: 20px;
  }

  h2 {
      color: violet;
      font-style: italic;
      margin-left: 110px;
  }

  p {
      color: goldenrod;
      margin-left: 60px;
  }

  button {
      color:lightblue;
      margin-left: 80px;
  }